/**
 * Toolkit styles
 */

 @import 'colors';

//@import '../../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';

@import './components/phonicbuttons';
@import './components/blbuttons';

.btnc,.btn:active {
   outline: none !important;
   box-shadow:none !important;
}

:focus, :active {
   outline: none !important;
    box-shadow:none !important;
}
