/**
 * Toolkit styles
 */

 @import 'colors';

//@import '../../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';
@import './atoms/soundbutton';
@import './molecules/phonicbuttons';

.btnc,.btn:active {
   outline: none !important;
   box-shadow:none !important;
}

:focus, :active {
   outline: none !important;
    box-shadow:none !important;
}
