---
notes: |
  These are notes associated with this `phonic buttons` component.
---

<div class="phonicbuttons">
    <button type="button" class="btn soundbutton">
        <img src="/assets/toolkit/images/speaker-off.gif">
	</button>
	<button type="button" class="btn checkbutton">
		<span class="glyphicon glyphicon-ok"></span>
	</button>
    <button type="button" class="btn soundbutton">
        <img src="/assets/toolkit/images/speaker-off.gif">
	</button>
	<button type="button" class="btn checkbutton">
		<span class="glyphicon glyphicon-ok"></span>
	</button>
    <button type="button" class="btn soundbutton">
        <img src="/assets/toolkit/images/speaker-off.gif">
	</button>
	<button type="button" class="btn checkbutton">
		<span class="glyphicon glyphicon-ok"></span>
	</button>
</div>
