// --------------------------------------------------
// Overrides
// --------------------------------------------------

.btn {
	font-family: $btn-font;
}

.btn-lg {
	height: $btn-lg-height;
	line-height: $btn-lg-height;
	border-radius: $border-radius-base;
	padding: 0 $padding-large-horizontal;
}

button + button {
	margin-left: 20px;
}

// Button colors
// -------------------------

.btn-blue {
  @include button-variant($btn-blue-color, $btn-blue-bg, darken($btn-blue-bg, 5%));
}

.btn-orange {
  @include button-variant($btn-orange-color, $btn-orange-bg, darken($btn-orange-bg, 5%));
}
