// --------------------------------------------------
// Overrides
// --------------------------------------------------

// CFER Buttons
// --------------------------------------------------
@mixin cfer-button($color, $background) {
  color: $color;
  background-color: $background;
  border-color: darken($background, 5%);
  box-shadow: 0 2px 0 0 darken($background, 20%);

  &:hover,
  &:focus,
  &:active,
  &.active {
    color: $color;
    background-color: darken($background, 8%);
	border-color: darken($background, 15%);
  }
  .open & { &.dropdown-toggle {
    color: $color;
    background-color: darken($background, 8%);
        border-color: darken($background, 15%);
  } }
  &:active,
  &.active {
    background-image: none;
	box-shadow: 0 1px 0 0 darken($background, 20%);
    background-color: darken($background, 15%);
    position: relative;
    top: 1px;
  }
  .open & { &.dropdown-toggle {
    background-image: none;
  } }
  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    box-shadow: 0 2px 0 0 darken($background, 20%);
    
    &,
    &:hover,
    &:focus,
    &:active,
    &.active {
      background-color: $background;
		border-color: darken($background, 5%);
    }
  }
}

// Font Face
// --------------------------------------------------
@mixin font-face($name, $path, $weight: null, $style: null, $exts: eot woff2 woff ttf svg) {
	$src: null;

	$extmods: (
		eot: "?",
		svg: "#" + str-replace($name, " ", "_")
	);

	$formats: (
		otf: "opentype",
		ttf: "truetype"
	);

	@each $ext in $exts {
		$extmod: if(map-has-key($extmods, $ext), $ext + map-get($extmods, $ext), $ext);
		$format: if(map-has-key($formats, $ext), map-get($formats, $ext), $ext);
		$src: append($src, url(quote($path + "." + $extmod)) format(quote($format)), comma);
	}

	@font-face {
		font-family: quote($name);
		font-style: $style;
		font-weight: $weight;
		src: $src;
	}
}
