// --------------------------------------------------
// Overrides
// --------------------------------------------------

// Headings
// -------------------------

h1, .h1 {
  font-family: "open-sans-light", sans-serif;
  font-weight: normal;
  margin-top: 30px;
}

h2, .h2 {
  font-family: "open-sans-regular", sans-serif;
  font-weight: normal;
  margin-top: 30px;
}

h3, .h3 {
  font-family: "open-sans-semi-bold", sans-serif;
  font-weight: normal;
  margin-top: 30px;
}

h4, .h4 {
  font-family: "open-sans-semi-bold", sans-serif;
  font-weight: normal;
  margin-top: 30px;
  text-transform: uppercase;
}
